<section class="header-section">
    <div class="container header">  
        <a class="header__logo link" href="../index.html">
            <svg class="header__logo-icon" aria-label="лого">
                <use href="./images/svg/sprite.svg#icon-logo"></use>
            </svg>
        </a>

        <button class="header__button" aria-expanded="false" type="button" data-menu-button>
            <svg class="header__button-icon" width="40" height="40" aria-label="Переключатель мобильного меню">
                <use class="header__icon-close" href="./images/svg/sprite.svg#icon-close"></use>
                <use class="header__iicon-burger" href="./images/svg/sprite.svg#icon-burger"></use>
            </svg>
        </button>
        
        <div class="menu" data-menu>
            <a  class="menu__logo link" href="../index.html">
                <svg class="menu__logo-icon" aria-label="лого">
                    <use href="./images/svg/sprite.svg#icon-logo"></use>
                </svg>
            </a>           
            <ul class="list menu__list">
                <li class="menu__item"> <a class="link" href="">About us</a></li>
                <li class="menu__item"> <a class="link" href="">Program</a></li>
                <li class="menu__item"> <a class="link" href=""></a>Reviews</li>
                <li class="menu__item"> <a class="link" href="">Contacts</a></li>
            </ul>
        </div>
     
    </div>
</section>