<section class="hero-section">
    <div class="hero">
            <h1 class="hero__title">
                Donut Masterclass with the Donut King
            </h1>
            <span class="hero__label">Hosted by Eva Green</span>
           
        <button type="button">Register</button>
        <ul class="list hero__socials">
            <li class="hero__social-item">
                <a href="" class="hero__social-link">
                    <svg class="social__icon" width="16" height="12">
                        <use href="./images/svg/sprite.svg#icon-twitter"></use>
                    </svg>
                </a>
            </li>
            <li class="hero__social-item">
                <a href="" class="hero__social-link">
                    <svg class="social__icon" width="16" height="12">
                        <use href="./images/svg/sprite.svg#icon-insta"></use>
                    </svg>
                </a>
            </li>
            <li class="hero__social-item">
                <a href="" class="hero__social-link">
                    <svg class="social__icon" width="16" height="12">
                        <use href="./images/svg/sprite.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</section>